.main-class{
    display: flex;
    flex-direction:column ;
}
.section-class {
display: flex;
flex-direction: row;

}

div-class {
width:10vw;
height:5vw;
border: solid 1px grey;

}

body { 
display: flex;
justify-content: left;
}